/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
html {
  position: relative;
  min-height: 100%;
}


#mapid{
  height: 600px;
  width: 900px;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;