<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Remax Calgary Realestate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    img {
        vertical-align: middle;
        height: 500px;
        width: 500px;
    }
    .border {
      border-right: 1px solid black;
    }

.vl {
  border-left: 2px solid gray;

}

  </style>

</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1><b>Remax Calgary Realestate</b></h1>

    </div>
    
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <!-- New Table -->
            
            <table class="table table-bordered table-hover table-condensed">
              <thead><tr><th title="Field #1">Price ($)</th>
              <th title="Field #2">Address</th>
              <th title="Field #3">Postal Code</th>
              <th title="Field #4">Bed</th>
              <th title="Field #5">Full Bath</th>
                  <th title="Field #6">Half Bath</th>
                  <th title="Field #7">Property Area</th>
              <th title="Field #8">Property Type</th>
                  <th title="Field #9">Walk Score</th>
                  <th title="Field #10">Bike Score</th>
                  <th title="Field #11">Transit Score</th>
                  <th title="Field #10">Latitude</th>
                  <th title="Field #11">Longitude</th>
              </tr></thead>
              <tbody><tr>
                {% for item in calgary %}
              <td align="left">{{item.0|safe}}</td>
              <td align="left">{{item.1|safe}}</td>
              <td align="left">{{item.2|safe}}</td>
                    <td align="left">{{item.3|safe}}</td>
                    <td align="left">{{item.4|safe}}</td>
                    <td align="left">{{item.5|safe}}</td>
              <td align="left">{{item.6|safe}}</td>
              <td align="left">{{item.7|safe}}</td>
                    <td align="left">{{item.8|safe}}</td>
                    <td align="left">{{item.9|safe}}</td>
                    <td align="left">{{item.10|safe}}</td>
                    <td align="left">{{item.11|safe}}</td>
                    <td align="left">{{item.12|safe}}</td>
              </tr>
              {% endfor %}
              </tbody>
              </table>
            <!-- End Table -->
            
          </div>

{#			<div class="col-md-4">#}
{##}
{#        <!-- New Table -->#}
{#            #}
{#        <table class="table table-bordered table-hover table-condensed">#}
{#          <thead><tr><th title="Field #1">Postal Code</th>#}
{#          <th title="Field #2">Walk Score</th>#}
{#          <th title="Field #3">Bike Score</th>#}
{#          <th title="Field #4">Transit Score</th>#}
{#          </tr></thead>#}
{#          <tbody><tr>#}
{#            {% for realestate_obj in score %}#}
{#          <td align="left">{{realestate_obj.postal_code|safe}}</td>#}
{#          <td align="left">{{realestate_obj.walk_score|safe}}</td>#}
{#          <td align="left">{{realestate_obj.bike_score|safe}}</td>#}
{#          <td align="left">{{realestate_obj.transit_score|safe}}</td>#}
{#          </tr>#}
{#          {% endfor %}#}
{#          </tbody>#}
{#          </table>#}
{#        <!-- End Table -->#}
{##}
{#            </div>#}
          
    </div>
  </div>
      
</div>
</body>

</html>
